grpcio
setuptools
Flask==3.0.2
gunicorn==22.0.0
google-cloud-compute
google-cloud-artifact-registry
google-auth
python-dotenv
flask-cors
flask-socketio
# pyorthanc
pyorthanc==1.18.0
rt_utils
numpy # <2.0.0
# pydicom==3.0.1
pydicom>=2.3.0
opencv-python
# highdicom==0.23.0
highdicom==0.22.0
eventlet
pydicom_seg